.descri{
    line-height: 1.5;
    font-family: cursive 
 }

.arrow{
    font-weight: bold;
    font-size: large;
    padding: 10px;
}
.heroin{
    height:800px
}
@media only screen and (min-width:391px) and (max-width:768px){
.heroin{
    height:500px
}
}

@media only screen and (min-width:0px) and (max-width:390px){
    .heroin{
        height:500px
}
}